<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Your Account</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/ec3f486a21.js" crossorigin="anonymous"></script>
  <link th:href="@{/css/stylee.css}" rel="stylesheet" />
</head>
<body>
    <section class="background-radial-gradient overflow-hidden">
    <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
        <div class="row gx-lg-5 align-items-center mb-5">
          <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
            <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
                Welcome To <br />
                <span style="color: hsl(218, 81%, 75%)">iNet College Library</span>
              </h1>
            <p class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%)">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit.
              Temporibus, expedita iusto veniam atque, magni tempora mollitia
              dolorum consequatur nulla, neque debitis eos reprehenderit quasi
              ab ipsum nisi dolorem modi. Quos?
            </p>
            <button type="button" class="btn btn-outline-primary">
              <a class="nav-link" th:href="@{/}">Back to the page</a></button>
          </div>
    
          <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
            <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
            <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>
    
            <div class="card bg-glass">
              <div class="card-body px-4 py-5 px-md-5">
                <form action="/register" method="post">
                  <div th:if="${param.success}">
                    <div class="alert alert-info">You've successfully registered
                        to our app!
                    </div>
                </div>
                  <!-- 2 column grid layout with text inputs for the first and last names -->
                  <div class="row">
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <input type="text" 
                        id="firstName" 
                        name="firstName"
                        th:field="*{user.firstName}"
                        class="form-control" />
                        <p th:errors="*{user.firstName}" class="text-danger"></p>
<!--                        <label class="form-label" for="form3Example1">First name</label>-->
                      </div>
                    </div>
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <input type="text" 
                               id="lastName" 
                               name="lastName"
                               th:field="*{user.lastName}"
                               class="form-control" />
                        <p th:errors="*{user.lastName}" class="text-danger"></p>
                      </div>
                    </div>
                  </div>
                  <div class="form-outline mb-4">
                    <input class="form-control" id="email" name="email" th:field="*{user.email}" type="email" />
                    <p th:errors="*{user.email}" class="text-danger"></p>
                  </div>
                  <!-- Password -->
                  <div class="form-outline mb-4">
                    <input class="form-control" id="password" name="password" placeholder="Enter password" th:field="*{user.password}" type="password" />
                    <p th:errors="*{user.password}" class="text-danger"></p>
                  </div>
                  <!-- Subscribe checkbox -->
                  <div class="form-check d-flex justify-content-center mb-4">
                    <input class="form-check-input me-2" type="checkbox" value="" id="form2Example33" checked />
                    <label class="form-check-label" for="form2Example33">Subscribe to our newsletter</label>
                  </div>
                  <!-- Submit button -->
                  <div class="form-group mb-3">
                    <button class="btn btn-primary" type="submit">Sign Up</button>
                    <span>Already registered? <a href="/" th:href="@{/login}">Login here</a></span>
                  </div>
    
                  <!-- Register buttons -->
                  <div class="text-center">
                    <p>or sign up with:</p>
                    <button type="button" class="btn btn-link btn-floating mx-1">
                      <i class="fab fa-facebook-f"></i>
                    </button>
    
                    <button type="button" class="btn btn-link btn-floating mx-1">
                      <i class="fab fa-google"></i>
                    </button>
    
                    <button type="button" class="btn btn-link btn-floating mx-1">
                      <i class="fab fa-twitter"></i>
                    </button>
    
                    <button type="button" class="btn btn-link btn-floating mx-1">
                      <i class="fab fa-github"></i>
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
</body>
</html>