<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <link href="">
</head>
<body>
<nav class="navbar navbar-light bg-light justify-content-between">
    <a class="navbar-brand">Manage Users</a>
    <div class="d-flex flex-column align-items-center">
        <button type="button" class="btn btn-dark"><a th:href="@{/users/new}">Add New User</a></button>
    </div>
</nav>
<table class="table table-striped table-dark">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">E-mail</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <th:block th:each="user : ${listUsers}">
      <tr>
          <td>[[${user.id}]]</td>
          <td>[[${user.email}]]</td>
          <td>[[${user.firstName}]]</td>
          <td>[[${user.lastName}]]</td>
          <td>
              <a class="h4 mr-3" th:herf="@{'/users/edit/'+${user.id}}">Update</a>
              <a class="h4" th:herf="@{'/users/delete/'+${user.id}}">Delete</a>
          </td>
      </tr>
    </th:block>

</table>
</body>
</html>